.img-edit, .img-delete {
    width: 20px;
}

.fieldset {
    margin-top: 5px;
    margin-bottom: 5px;
}


.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 999;
    background-color: rgba(0,0,0,0.15);
}

.modal-msg {
    width: 350px;
    height: 80px;
    margin: 18% auto;
    background-color: aliceblue;
    padding: 20px;
    box-shadow: 10px 10px 14px -4px rgba(18,15,15,0.75); -webkit-box-shadow: 10px 10px 14px -4px rgba(18,15,15,0.75); -moz-box-shadow: 10px 10px 14px -4px rgba(18,15,15,0.75);
    border: solid 1px silver;
    border-radius: 10px;
    text-align: center ;
}

.modal .show {
    display: block;
}
